body{
    background-color: burlywood;
    margin: 0;
    padding: 0;
}
nav{
    padding: 10px;
    margin-bottom: 15px;
    background-color: #e3ebeb;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: darksalmon;
    display: block;
    cursor: pointer;
}
.serif{
    font-family: Times;
}
.sans{
    font-family: Arial;
}